<h1>Teacher Dashboard</h1>

<table>
  <tbody>
    <% Achievement.all.each do |achievement| %>
      <tr>
        <td><%= check_box_tag "moo", true, true %></td>
        <td><%= achievement.description %></td>
        <td><%= achievement.point_value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', teachers_path %>
